@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Inter', sans-serif;
}

body{
  background-color: #21242D;
}

.button-bg{
  background-color: #1EC74F;
}
.button-dark{
  background-color: #21242D;
}
.text-button{
  color: #1EC74F;
}
.text-color{
  color: #21242D;
}
.border-circle-green{
  border: 1px solid #1EC74F;
}
.form-color{
  background-color: #FFFFFF0F;
}
.form-border-color{
  border: 1px solid #757F89;
}
.w-form{
  width: 860px;
}
.footer-color{
  background-color: #222328;
}

@media only screen and (max-width: 960px) {
  .w-form{
    width: 260px;
  }
}